---
layout: sidenav
sidenav: contact_us
common_applications:
  - USAJOBS
  - Internal Revenue Service (IRS)
  - Social Security Administration (SSA)
  - Trusted Traveler Programs (Global Entry/Nexus/Sentri)
---

{% if site.contact_maintenance_start_time and site.contact_maintenance_end_time %}
  {% capture maintenance_alert_content %}
    {{ page.maintenance_window_content }}
    {% if site.contact_maintenance_phone_available %}
      {{ page.phone_available_content }}
    {% endif %}
  {% endcapture %}
  {% include alert.html
     type="warning"
     id="contact-us-maintenance-alert"
     hidden="true"
     content=maintenance_alert_content %}
{% endif %}

{% if site.contact_unplanned_outage %}
  {% capture outage_alert_content %}
    {{ page.unplanned_outage_content }}
    {% if site.contact_unplanned_outage_phone_available %}
      {{ page.phone_available_content }}
    {% endif %}
  {% endcapture %}
  {% include alert.html type="warning" content=outage_alert_content %}
{% endif %}

{{ page.help_center_content | markdownify }}

<contact-us-form
  maintenance-alert-id="contact-us-maintenance-alert"
  maintenance-start-time="{{ site.contact_maintenance_start_time }}"
  {% if site.contact_unplanned_outage %} hidden {% endif %}
  maintenance-end-time="{{ site.contact_maintenance_end_time }}"
  class="page-content__section usa-prose"
>
  {{ page.intro_content | markdownify }}

  {% if site.contact_phone_number_enabled and site.contact_phone_number %}
    {% include contact_phone.html %}
  {% endif %}

  <div class="desktop:grid-col-9">
    <div class="display-none" id="form-success-wrapper">
      {% assign form_success_message = page.form_success_message | newline_to_br %}

      {% include alert.html
      type="success"
      class="margin-bottom-4"
      content=form_success_message
      %}

      <a class="usa-link" href="https://login.gov{{ '/contact/' | locale_url }}">{{ page.submit_help_ticket_link_text }}</a>
    </div>

    <!-- demo override here !-->
<form
  id="contact-us-form"
  action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8&orgId=00DSL000000Z8cS"
  method="POST"
  onSubmit="submitCaseForm(event); return false;"
  class="usa-form"
>

<input type=hidden name="orgid" value="00DSL000000Z8cS">
<input type=hidden name="retURL" value="http://none.com">

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<!--  <input type="hidden" name="debug" value=1>                              -->
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="linh.v.nguyen@gsa.gov.invalid">                                  -->
<!--  ----------------------------------------------------------------------  -->

<label for="name">Contact Name</label><input  id="name" maxlength="80" name="name" size="20" type="text" /><br>

<label for="email">Email</label><input  id="email" maxlength="80" name="email" size="20" type="text" /><br>

Agency Application:<select  id="00Nt0000000OYA2" name="00Nt0000000OYA2" title="Agency Application"><option value="">--None--</option><option value="Central Intelligence Agency">Central Intelligence Agency</option>
<option value="Consumer Financial Protection Bureau">Consumer Financial Protection Bureau</option>
<option value="Customs and Border Protection Jobs">Customs and Border Protection Jobs</option>
<option value="Customs and Border Protection ROAM">Customs and Border Protection ROAM</option>
<option value="Department of Commerce">Department of Commerce</option>
<option value="Department of Defense">Department of Defense</option>
<option value="Department of Education">Department of Education</option>
<option value="Department of Energy">Department of Energy</option>
<option value="Department of Homeland Security (DHS)">Department of Homeland Security (DHS)</option>
<option value="Department of Justice (DOJ)">Department of Justice (DOJ)</option>
<option value="Department of Labor">Department of Labor</option>
<option value="Department of State">Department of State</option>
<option value="Department of the Interior">Department of the Interior</option>
<option value="Department of the Treasury">Department of the Treasury</option>
<option value="Department of Transportation">Department of Transportation</option>
<option value="Department of Veterans Affairs">Department of Veterans Affairs</option>
<option value="DOI ePermits">DOI ePermits</option>
<option value="DOL Foreign Labor Application Gateway (FLAG)">DOL Foreign Labor Application Gateway (FLAG)</option>
<option value="DOT Delphi eInvoicing">DOT Delphi eInvoicing</option>
<option value="DOT FMCSA (Motor Carrier Safety)">DOT FMCSA (Motor Carrier Safety)</option>
<option value="DOT National Registry of Certified Medical Examiners">DOT National Registry of Certified Medical Examiners</option>
<option value="Environmental Protection Agency">Environmental Protection Agency</option>
<option value="FDIC Resolution Request Management Portal">FDIC Resolution Request Management Portal</option>
<option value="FEMA Disaster Assistance">FEMA Disaster Assistance</option>
<option value="General Services Administration">General Services Administration</option>
<option value="Get.gov">Get.gov</option>
<option value="GSA Sam.gov">GSA Sam.gov</option>
<option value="Health and Human Services">Health and Human Services</option>
<option value="HHS Grants.gov">HHS Grants.gov</option>
<option value="HHS National Institutes of Health (NIH)">HHS National Institutes of Health (NIH)</option>
<option value="Housing and Urban Development">Housing and Urban Development</option>
<option value="Internal Revenue Service (IRS)">Internal Revenue Service (IRS)</option>
<option value="Library of Congress">Library of Congress</option>
<option value="MyTravelGov">MyTravelGov</option>
<option value="myTreasury">myTreasury</option>
<option value="National Aeronautics and Space Administration">National Aeronautics and Space Administration</option>
<option value="National Archives and Records Administration (NARA)">National Archives and Records Administration (NARA)</option>
<option value="National Credit Union Administration (NCUA)">National Credit Union Administration (NCUA)</option>
<option value="National Endowment for the Humanities (NEH)">National Endowment for the Humanities (NEH)</option>
<option value="National Labor Relations Board">National Labor Relations Board</option>
<option value="National Transportation Safety Board (NTSB)">National Transportation Safety Board (NTSB)</option>
<option value="Office of Personnel Management">Office of Personnel Management</option>
<option value="OPM Employee Express">OPM Employee Express</option>
<option value="OPM FSAFEDS">OPM FSAFEDS</option>
<option value="OPM Services Online">OPM Services Online</option>
<option value="Other">Other</option>
<option value="Pay.gov">Pay.gov</option>
<option value="PBGC-MyPBA">PBGC-MyPBA</option>
<option value="Peace Corps">Peace Corps</option>
<option value="Postal Service Health Benefits (PSHB)">Postal Service Health Benefits (PSHB)</option>
<option value="Railroad Retirement Board">Railroad Retirement Board</option>
<option value="SBA DLAP">SBA DLAP</option>
<option value="Securities and Exchange Commission">Securities and Exchange Commission</option>
<option value="Social Security Administration (SSA)">Social Security Administration (SSA)</option>
<option value="State of Arkansas">State of Arkansas</option>
<option value="State of California">State of California</option>
<option value="State of Colorado">State of Colorado</option>
<option value="State of Maryland">State of Maryland</option>
<option value="Trusted Traveler Programs (Global Entry/Nexus/Sentri)">Trusted Traveler Programs (Global Entry/Nexus/Sentri)</option>
<option value="U.S. Agency for International Development">U.S. Agency for International Development</option>
<option value="U.S. Department of Agriculture">U.S. Department of Agriculture</option>
<option value="U.S. International Trade Commission">U.S. International Trade Commission</option>
<option value="United States Forest Service">United States Forest Service</option>
<option value="USAJOBS">USAJOBS</option>
<option value="VA MyHealtheVet (MHV)">VA MyHealtheVet (MHV)</option>
</select><br>

Agency Abbreviation:<textarea  id="00N3d0000013vIB" name="00N3d0000013vIB" type="text" wrap="soft"></textarea><br>

Agency Division:<textarea  id="00N3d0000013vIC" name="00N3d0000013vIC" type="text" wrap="soft"></textarea><br>

Case Topic:<select  id="00NU0000004z903" name="00NU0000004z903" title="Case Topic"><option value="">--None--</option><option value="About USAGov">About USAGov</option>
<option value="Account Linking">Account Linking</option>
<option value="Alternative Energy">Alternative Energy</option>
<option value="Art and Music">Art and Music</option>
<option value="Asset Management Division (AMD)">Asset Management Division (AMD)</option>
<option value="Assistance with Ex-Im Online login">Assistance with Ex-Im Online login</option>
<option value="Authentication/apostille">Authentication/apostille</option>
<option value="Benefits Case">Benefits Case</option>
<option value="Biologics/Vaccines">Biologics/Vaccines</option>
<option value="Board of Directors">Board of Directors</option>
<option value="Boating">Boating</option>
<option value="Broker Commissions">Broker Commissions</option>
<option value="Buildings and Real Estate">Buildings and Real Estate</option>
<option value="Business Development - Global, Major Transactions">Business Development - Global, Major Transactions</option>
<option value="Business Issues">Business Issues</option>
<option value="Changing Settings">Changing Settings</option>
<option value="Check the status of an application">Check the status of an application</option>
<option value="Childcare">Childcare</option>
<option value="Child Care/​Child Support">Child Care/​Child Support</option>
<option value="Claims Processing">Claims Processing</option>
<option value="Competitiveness report">Competitiveness report</option>
<option value="Complaints">Complaints</option>
<option value="Consumer Complaints">Consumer Complaints</option>
<option value="Consumer Complaints or Questions">Consumer Complaints or Questions</option>
<option value="Contracts, Schedules and Order Questions">Contracts, Schedules and Order Questions</option>
<option value="Counsel/​Counseling">Counsel/​Counseling</option>
<option value="Create Account">Create Account</option>
<option value="Current affairs - 1">Current affairs - 1</option>
<option value="Current affairs - 2">Current affairs - 2</option>
<option value="Current affairs - 3">Current affairs - 3</option>
<option value="Devices/Radiation">Devices/Radiation</option>
<option value="Directory Assistance (by-name employee requests)">Directory Assistance (by-name employee requests)</option>
<option value="Disability Assistance">Disability Assistance</option>
<option value="Disaster Relief">Disaster Relief</option>
<option value="Doing business in Africa - Major Transactions">Doing business in Africa - Major Transactions</option>
<option value="Drugs">Drugs</option>
<option value="Dual citizenship">Dual citizenship</option>
<option value="Duck Stamps">Duck Stamps</option>
<option value="Duty Tariff Taxes">Duty Tariff Taxes</option>
<option value="Eagle Parts/Feathers">Eagle Parts/Feathers</option>
<option value="Education">Education</option>
<option value="Education/​Training">Education/​Training</option>
<option value="eINDS">eINDS</option>
<option value="Elected Officials">Elected Officials</option>
<option value="Electronic Forms Problems">Electronic Forms Problems</option>
<option value="Employee or Family Member Emergency">Employee or Family Member Emergency</option>
<option value="Employment/​Career Development Assistance">Employment/​Career Development Assistance</option>
<option value="Endangered Species">Endangered Species</option>
<option value="Energy Assistance">Energy Assistance</option>
<option value="Entering the USA">Entering the USA</option>
<option value="Environmental Sustainability/​Conservation">Environmental Sustainability/​Conservation</option>
<option value="Events (Expos/Trade Shows/Training)">Events (Expos/Trade Shows/Training)</option>
<option value="Exercise and Eating Healthy">Exercise and Eating Healthy</option>
<option value="Ex-Im Bank annual conference">Ex-Im Bank annual conference</option>
<option value="Ex-Im Bank training seminars">Ex-Im Bank training seminars</option>
<option value="Exporter Certificates">Exporter Certificates</option>
<option value="Exporting Grow">Exporting Grow</option>
<option value="Exporting  New">Exporting  New</option>
<option value="Export Logistics Customs">Export Logistics Customs</option>
<option value="Export-ready New U.S. Small Business Customer">Export-ready New U.S. Small Business Customer</option>
<option value="Federal Policy and Regulations">Federal Policy and Regulations</option>
<option value="Federal Procurement Data System (FPDS)">Federal Procurement Data System (FPDS)</option>
<option value="Finance a business">Finance a business</option>
<option value="Fishing">Fishing</option>
<option value="FOIA Requests">FOIA Requests</option>
<option value="Food/​Nutrition">Food/​Nutrition</option>
<option value="Food Dietary/Supplements/Cosmetics">Food Dietary/Supplements/Cosmetics</option>
<option value="Foreign Travel by Americans">Foreign Travel by Americans</option>
<option value="Forms Questions">Forms Questions</option>
<option value="Freedom of Information Act (FOIA)">Freedom of Information Act (FOIA)</option>
<option value="FTA or NAFTA">FTA or NAFTA</option>
<option value="FWS Employee Inquiry">FWS Employee Inquiry</option>
<option value="General information about Ex-Im Bank">General information about Ex-Im Bank</option>
<option value="General information about exporting - new to exporting">General information about exporting - new to exporting</option>
<option value="Geographic Locator Codes">Geographic Locator Codes</option>
<option value="Getting on Schedule/Selling to the Gov&#39;t - For Small Businesses">Getting on Schedule/Selling to the Gov&#39;t - For Small Businesses</option>
<option value="Getting on Schedule/Selling to the Gov&#39;t - General">Getting on Schedule/Selling to the Gov&#39;t - General</option>
<option value="Getting on Schedule/Selling to the Gov&#39;t - Subcontracting">Getting on Schedule/Selling to the Gov&#39;t - Subcontracting</option>
<option value="Government">Government</option>
<option value="Government Jobs">Government Jobs</option>
<option value="Government Official">Government Official</option>
<option value="Government Vehicles">Government Vehicles</option>
<option value="Gov Loans Case">Gov Loans Case</option>
<option value="Grants/​Scholarships/​Fellowships">Grants/​Scholarships/​Fellowships</option>
<option value="Grow a business">Grow a business</option>
<option value="GSA Office of Acquisition">GSA Office of Acquisition</option>
<option value="GSA Online Employee Locator">GSA Online Employee Locator</option>
<option value="GSA Recovery Act Requests">GSA Recovery Act Requests</option>
<option value="GSA SmartPay and Other Charge Card Questions">GSA SmartPay and Other Charge Card Questions</option>
<option value="Health and Safety">Health and Safety</option>
<option value="Healthcare">Healthcare</option>
<option value="History">History</option>
<option value="HIV/AIDS">HIV/AIDS</option>
<option value="Hot Topic">Hot Topic</option>
<option value="Housing">Housing</option>
<option value="How to become an Ex-Im Bank broker or delegated authority lender">How to become an Ex-Im Bank broker or delegated authority lender</option>
<option value="HS or Sch B code">HS or Sch B code</option>
<option value="Human Resources">Human Resources</option>
<option value="Hunting">Hunting</option>
<option value="Immigration and Naturalization">Immigration and Naturalization</option>
<option value="Import/Export Issue">Import/Export Issue</option>
<option value="Information and Records Management">Information and Records Management</option>
<option value="Injured/Nuisance Wildlife">Injured/Nuisance Wildlife</option>
<option value="Insurance">Insurance</option>
<option value="Inter-country adoption">Inter-country adoption</option>
<option value="International N/A">International N/A</option>
<option value="International parental child abduction">International parental child abduction</option>
<option value="IRS Mileage Rates vs. GSA Mileage Rates">IRS Mileage Rates vs. GSA Mileage Rates</option>
<option value="Jobs">Jobs</option>
<option value="Judicial Matters">Judicial Matters</option>
<option value="Kids.gov">Kids.gov</option>
<option value="Law Enforcement">Law Enforcement</option>
<option value="Licensing and Registration">Licensing and Registration</option>
<option value="Lighthouse Purchase">Lighthouse Purchase</option>
<option value="Linking to GSA.gov">Linking to GSA.gov</option>
<option value="Living Assistance">Living Assistance</option>
<option value="Loan/​Loan Repayment">Loan/​Loan Repayment</option>
<option value="login.gov System">login.gov System</option>
<option value="Math">Math</option>
<option value="Media Inquiries (GSA)">Media Inquiries (GSA)</option>
<option value="Medicaid/​Medicare">Medicaid/​Medicare</option>
<option value="MFA (Multi Factor Authentication)">MFA (Multi Factor Authentication)</option>
<option value="Military">Military</option>
<option value="Military: Active Duty and Veterans">Military: Active Duty and Veterans</option>
<option value="Money">Money</option>
<option value="News Media inquiries">News Media inquiries</option>
<option value="Not login.gov">Not login.gov</option>
<option value="Online Safety">Online Safety</option>
<option value="Passport issued inside USA">Passport issued inside USA</option>
<option value="Passport issued outside USA">Passport issued outside USA</option>
<option value="Paying Premiums">Paying Premiums</option>
<option value="Payments - Loan and Guarantees">Payments - Loan and Guarantees</option>
<option value="Payments - Vendor Payments/Cash control">Payments - Vendor Payments/Cash control</option>
<option value="Per Diem Travel - Permanent Change of Station, Moving">Per Diem Travel - Permanent Change of Station, Moving</option>
<option value="Permits">Permits</option>
<option value="Personal Property Sales">Personal Property Sales</option>
<option value="Pet Drugs/Food">Pet Drugs/Food</option>
<option value="Policy &amp; Planning">Policy &amp; Planning</option>
<option value="Postal Service Issues">Postal Service Issues</option>
<option value="Prevention">Prevention</option>
<option value="Procurement - Contracting, Vendors that want to sell to Ex-Im Bank">Procurement - Contracting, Vendors that want to sell to Ex-Im Bank</option>
<option value="Questions about Letters of Interest">Questions about Letters of Interest</option>
<option value="Reading and Writing">Reading and Writing</option>
<option value="Real Property Sales">Real Property Sales</option>
<option value="Refuges">Refuges</option>
<option value="Report a problem with the website">Report a problem with the website</option>
<option value="Request an Ex-Im Bank Speaker at an event">Request an Ex-Im Bank Speaker at an event</option>
<option value="Requests for Data">Requests for Data</option>
<option value="Resume Submissions">Resume Submissions</option>
<option value="Retirement Matters">Retirement Matters</option>
<option value="Sales - Other Products and Services">Sales - Other Products and Services</option>
<option value="Scams (Nigeria, grandmother, etc)">Scams (Nigeria, grandmother, etc)</option>
<option value="Scams and Fraud">Scams and Fraud</option>
<option value="Science">Science</option>
<option value="Signing In">Signing In</option>
<option value="Small business trade credit insurance and working capital loans">Small business trade credit insurance and working capital loans</option>
<option value="Social/Human Services">Social/Human Services</option>
<option value="Social Media Inquiries">Social Media Inquiries</option>
<option value="Social Security/​Retirement">Social Security/​Retirement</option>
<option value="Social Studies">Social Studies</option>
<option value="Start a business">Start a business</option>
<option value="State Tax Exemption Forms for Federal Travelers">State Tax Exemption Forms for Federal Travelers</option>
<option value="STEP (+problems with website)">STEP (+problems with website)</option>
<option value="Surplus Items">Surplus Items</option>
<option value="Tampering">Tampering</option>
<option value="Tax Assistance">Tax Assistance</option>
<option value="Taxes">Taxes</option>
<option value="Taxes and Credits">Taxes and Credits</option>
<option value="Telecomm &amp; Integrated Technology Services (Previously FTS)">Telecomm &amp; Integrated Technology Services (Previously FTS)</option>
<option value="Tobacco">Tobacco</option>
<option value="Trade credit insurance">Trade credit insurance</option>
<option value="Trade Finance - Medium-Term Transactions">Trade Finance - Medium-Term Transactions</option>
<option value="Transportation Financing">Transportation Financing</option>
<option value="Travel Management Policy">Travel Management Policy</option>
<option value="Travel warnings/alerts/etc">Travel warnings/alerts/etc</option>
<option value="U.S. small business, not Ex-Im ready">U.S. small business, not Ex-Im ready</option>
<option value="Verifying your identity">Verifying your identity</option>
<option value="Veteran-owned business">Veteran-owned business</option>
<option value="Visa for another country">Visa for another country</option>
<option value="Visa to come to USA">Visa to come to USA</option>
<option value="Volunteer Opportunities">Volunteer Opportunities</option>
<option value="Voting">Voting</option>
<option value="Voting overseas">Voting overseas</option>
<option value="Welfare/whereabouts/emergency service">Welfare/whereabouts/emergency service</option>
<option value="Wildlife/Habitat Issues">Wildlife/Habitat Issues</option>
<option value="Women and minority business">Women and minority business</option>
<option value="Working capital guarantee">Working capital guarantee</option>
<option value="Workplace Issues">Workplace Issues</option>
<option value="Other">Other</option>
<option value="Dead Air / Technical Issue">Dead Air / Technical Issue</option>
<option value="Nuisance">Nuisance</option>
</select><br>

Case Sub-Topic:<select  id="00NU0000004z905" name="00NU0000004z905" title="Case Sub-Topic"><option value="">--None--</option><option value="Account linking">Account linking</option>
<option value="Account locked for 6 hours">Account locked for 6 hours</option>
<option value="Agency Process Questions">Agency Process Questions</option>
<option value="Agency Website Error">Agency Website Error</option>
<option value="Annual conference, Global Access Forums (GAFs)">Annual conference, Global Access Forums (GAFs)</option>
<option value="Assistance with Ex-Im Online login">Assistance with Ex-Im Online login</option>
<option value="Authentication app">Authentication app</option>
<option value="Authentication app setup">Authentication app setup</option>
<option value="Backup codes">Backup codes</option>
<option value="Broker commission payments">Broker commission payments</option>
<option value="Broker training, and Ex-Im 101 training">Broker training, and Ex-Im 101 training</option>
<option value="Bug">Bug</option>
<option value="Change email">Change email</option>
<option value="Change password">Change password</option>
<option value="Change phone number">Change phone number</option>
<option value="Change verified information">Change verified information</option>
<option value="Co-financing, local cost policy, content policy">Co-financing, local cost policy, content policy</option>
<option value="Competitiveness report">Competitiveness report</option>
<option value="Complaints">Complaints</option>
<option value="Country Limitation Schedule">Country Limitation Schedule</option>
<option value="Creating an identity verified account">Creating an identity verified account</option>
<option value="Delete account">Delete account</option>
<option value="Doing business in Africa - major transactions">Doing business in Africa - major transactions</option>
<option value="Email delivery issue">Email delivery issue</option>
<option value="Export-ready - trade credit insurance - new customer">Export-ready - trade credit insurance - new customer</option>
<option value="Export-ready - working capital guarantee - new customer">Export-ready - working capital guarantee - new customer</option>
<option value="Face or Touch Unlock">Face or Touch Unlock</option>
<option value="Facial match issue">Facial match issue</option>
<option value="FOIA Requests">FOIA Requests</option>
<option value="Forgot password">Forgot password</option>
<option value="Help with or status of an application or Letter of Interest.">Help with or status of an application or Letter of Interest.</option>
<option value="How/Why do I verify my identity?">How/Why do I verify my identity?</option>
<option value="How to link account">How to link account</option>
<option value="In Person Proofing">In Person Proofing</option>
<option value="International number">International number</option>
<option value="Invalid email">Invalid email</option>
<option value="Invalid OTP">Invalid OTP</option>
<option value="Invalid Personal key">Invalid Personal key</option>
<option value="LG77">LG77</option>
<option value="LG99">LG99</option>
<option value="Linking issue">Linking issue</option>
<option value="Locked out">Locked out</option>
<option value="Login.gov account for a family member">Login.gov account for a family member</option>
<option value="Lost MFA method">Lost MFA method</option>
<option value="Medium-Term Exposure Fees">Medium-Term Exposure Fees</option>
<option value="Medium-Term program">Medium-Term program</option>
<option value="Multiple OTPs sent">Multiple OTPs sent</option>
<option value="Needs alternate path for identity verification">Needs alternate path for identity verification</option>
<option value="Need More Information from Customer">Need More Information from Customer</option>
<option value="Needs more information from customer">Needs more information from customer</option>
<option value="New account">New account</option>
<option value="New backup codes">New backup codes</option>
<option value="New Device Notification">New Device Notification</option>
<option value="New personal key">New personal key</option>
<option value="New to exporting, not Ex-Im ready">New to exporting, not Ex-Im ready</option>
<option value="No OTP received">No OTP received</option>
<option value="No phone">No phone</option>
<option value="No phone number match">No phone number match</option>
<option value="Not login.gov">Not login.gov</option>
<option value="Other">Other</option>
<option value="Password issue">Password issue</option>
<option value="Password reset with lost personal key">Password reset with lost personal key</option>
<option value="Personal key">Personal key</option>
<option value="Personal Key Notification">Personal Key Notification</option>
<option value="Photo upload issue">Photo upload issue</option>
<option value="PIV/CAC">PIV/CAC</option>
<option value="Potential Business">Potential Business</option>
<option value="Privacy and Security">Privacy and Security</option>
<option value="Project Finance - major transactions">Project Finance - major transactions</option>
<option value="Question about exporter certificates">Question about exporter certificates</option>
<option value="Question about paying premiums">Question about paying premiums</option>
<option value="reCAPTCHA sign in">reCAPTCHA sign in</option>
<option value="Recover Account">Recover Account</option>
<option value="Remember device issue">Remember device issue</option>
<option value="Security Key">Security Key</option>
<option value="Service quality">Service quality</option>
<option value="Site navigation">Site navigation</option>
<option value="Someone wants to be a broker">Someone wants to be a broker</option>
<option value="Someone wants to become a City/State Partner">Someone wants to become a City/State Partner</option>
<option value="Spam">Spam</option>
<option value="SSN &amp; Address match issue">SSN &amp; Address match issue</option>
<option value="Trade Finance - Medium-Term transactions">Trade Finance - Medium-Term transactions</option>
<option value="Unsupported Agency">Unsupported Agency</option>
<option value="Unwanted OTP sent">Unwanted OTP sent</option>
<option value="Verify by mail">Verify by mail</option>
<option value="Veteran-owned business">Veteran-owned business</option>
<option value="Women and minority business">Women and minority business</option>
</select><br>

Case Topic Other:<input  id="00NU0000004z906" maxlength="50" name="00NU0000004z906" size="20" type="text" /><br>

<label for="description">Description</label><textarea name="description"></textarea><br>

<label for="recordType">Case Record Type</label><select  id="recordType" name="recordType"><option value="">--None--</option><option value="012t000000006JO">Content Feedback</option>
<option value="012U00000001eYo">FDA.gov</option>
<option value="012U00000001eYp">FWS.gov</option>
<option value="012t00000004JFu">Login.gov</option>
<option value="012U00000001eYm">OCS</option>
<option value="012U00000001eYu">Pre-Case</option>
<option value="012U00000001eYv">USA.gov</option>
<option value="012U00000001eYr">USA.gov en español</option>
</select><br>

<label for="subject">Subject</label><input  id="subject" maxlength="80" name="subject" size="20" type="text" /><br>

Language:<select  id="00NU0000004z90b" name="00NU0000004z90b" title="Language"><option value="">--None--</option><option value="English">English</option>
<option value="French">French</option>
<option value="Spanish">Spanish</option>
<option value="Simplified Chinese">Simplified Chinese</option>
<option value="Japanese">Japanese</option>
<option value="Mandarin">Mandarin</option>
<option value="Polish">Polish</option>
<option value="Portuguese">Portuguese</option>
<option value="Other">Other</option>
</select><br>

<input type="hidden"  id="external" name="external" value="1" /><br>

<input type="submit" name="submit">

</form>

<script type="text/javascript">
function submitCaseForm(event) {
  event.preventDefault();
  console.log("submitCaseForm");
  // Get the form element
  var form = document.getElementById("contact-us-form");
 
  // Create a new XMLHttpRequest object
  var xhr = new XMLHttpRequest();
 
  // Set the request method and URL
  xhr.open("POST", form.action);
 
  // Set the content type header
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
 
  // Handle the response
  xhr.onreadystatechange = function() {
  if (this.readyState === 4 && this.status === 200) {
    // Success: Handle the response data
    console.log(this.responseText);
  } else if (this.readyState === 4 && this.status !== 200) {
    // Error: Handle the error
    console.error("Error submitting form:", this.status);
  }
  };
 
  // Serialize the form data
  var formData = new FormData(form);
 
  // Send the request
  xhr.send(formData);
}
</script>


<!-- end override !-->
  </div>
</contact-us-form>

<div class="page-content__section usa-prose">{{ page.partner_content | markdownify }}</div>
<div class="page-content__section usa-prose">{{ page.report_issue_content | markdownify }}</div>

{% if site.contact_maintenance_start_time and site.contact_maintenance_end_time %}
  <script src="{{ '/assets/js/contact_us_form_element.js' | relative_url }}"></script>
{% endif %}
